@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata Regular'), local('Inconsolata-Regular'),
       url('../fonts/inconsolata-v16-latin-regular.woff2') format('woff2'),
       url('../fonts/inconsolata-v16-latin-regular.woff') format('woff');
}
@font-face {
    font-family: 'Symbola';
    font-style: normal;
    font-weight: 400;
    src: url(data:font/ttf;base64,AAEAAAANAIAAAwBQR0RFRgAQAAMAAALcAAAAFkdQT1NEdkx1AAAC9AAAACBHU1VCAKz2lgAAAxQAAAA8T1MvMtbm0gwAAAG0AAAAYGNtYXAnlbZ8AAACFAAAAGxnbHlm+OlkPAAAANwAAABIaGVhZB2EwaMAAAFMAAAANmhoZWEYpRFIAAABkAAAACRobXR4EMACrQAAAYQAAAAMbG9jYQAWACQAAAFEAAAACG1heHABsQ8XAAABJAAAACBuYW1lAw8LAQAAAoAAAAA6cG9zdP3TAEYAAAK8AAAAIAACAbj/oAS4BKAAAwAHAAAFIREhASERIQS4/wABAP4A/wABAGAFAPsABQAAAAEAdf9hBRwFKwACAAAJAREFHPtZAkb9GwXKAAABAAAAAw5lAaUAsAAFAAAAAAAAAAAAAAAAAAAAAwACAAAAAAAWACQAAQAAAAo9ccNVZ05fDzz1AAAIAAAAAADWlqn4AAAAANaWkJD5Sv1EF/AHaAAAAAkAAgAAAAAAAAUEAIAGcAG4BUwAdQABAAAHaP1EAAAYAPlK/AAX8AABAAAAAAAAAAAAAAAAAAAAAwAEBcwBkAAEAAAGKwV+AAABDQYrBX4AAAJDAFAB9AEFAgIFAwYIBQICBAAAAAAAACCAAAAAAAAAAABGcmVlAEAj+CW2B2j9RAAAB2gCvGAAAZ/f1wAAA5sFQgAAACAABgAAAAMAAAAAAAAAHAADAAEAAAAcAAMACgAAAEQABAAoAAAABgAEAAEAAiP4Jbb//wAAI/gltv//3AnaTAABAAAAAAAAAAwAAAAAACgAAAAAAAAAAgAAI/gAACP4AAAAAQAAJbYAACW2AAAAAgAAAAIAHgADAAEECQABAA4AAAADAAEECQACAA4ADgBTAHkAbQBiAG8AbABhAFIAZQBnAHUAbABhAHIAAAADAAAAAAAA/dAARgAAAAAAAAAAAAAAAAAAAAAAAAAAAAEAAAAMAAAAAAAAAAIAAQAAAAIAAQAAAAEAAAAKABwAHgABREZMVAAIAAQAAAAA//8AAAAAAAAAAQAAAAoAOAA6AAVERkxUACBjeXJsACpncmVrACpsYXRuACptYXRoACoABAAAAAD//wAAAAAAAAAAAAA=) format('truetype')
  }
:root {
    box-sizing: border-box;
    font-size: 10px;
    background-color: #0d47a1;
    --backgroundColor: #0d47a1;
    background-color: var(--backgroundColor);
    --mainColor: #fff;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    color: var(--mainColor);
    margin: 0;
    text-align: center;
    font-family: 'Inconsolata', monospace;
}

.displayTimeLeft {
    font-size: 12rem;
}

.displayTimeTotal {
    font-size: 2.5rem;
}

.timer {
    margin: 1rem auto;
    max-width: 360px;
    border:aliceblue solid 2px;
}

.timer input::placeholder {
    color: inherit;
}

.timer input,
.timer button {
    color: inherit;
    background-color: var(--backgroundColor);
    border: 2px solid;
    margin: 1rem auto;
    padding: 10px;
    font-size: 2rem;
    text-transform: uppercase;
    display: inline-block;
    width: 90%;
}

.pause {
    font-family: Symbola, serif;
}

.timer input:focus,
.timer button:focus {
    border: 2px solid #cdd210;
    outline: 0;
}

.nextTimersArea {
    list-style: none;
    font-size: 48px;
    padding:  0;
    width:  100%;
    display: inline-block;
}

.nextTimers__item {
    border: 2px solid;
    border-radius: 5px;
    padding: 5px 10px;
    margin: 5px 10px;
    display:inline-block;
    width: 43%;
}